{
    "validate_pairwise_criteria":  {{ ilc_pairwise.validate_pairwise_criteria | to_json }},

    # ########### ilc config template ########
    "ilc_config":{
        "demand_limit":  {{ ilc.demand_limit | to_json }},
        "simulation_running": {{ ilc.simulation_running | to_json }},
        "control_time":  {{ ilc.control_time | to_json }},
        "control_confirm":  {{ ilc.control_confirm | to_json }},
        "average_building_power_window":  {{ ilc.average_building_power_window | to_json }},
        "stagger_release":  {{ ilc.stagger_release | to_json }},
        "stagger_off_time":  {{ ilc.stagger_off_time | to_json }},
        "cluster_config": {{ ilc.cluster_config | to_json }}
    },

    # ######### control config template ########
    "control_config": {{ ilc_control | to_json }},

    # ############ criteria config template #########
    "criteria_config":{{ ilc_criteria | tojson }},

    ############## mappers ##########################
    "mapper_config":{{ ilc_mappers | tojson }}
}
