{
  "driver_type": "{{ driver.device.type }}",
  "driver_config": {
    {% if driver.device.type == "normal" %}
    "nfurl": "http://{{ normal.nfurl.address }}:{{ normal.nfurl.port }}",
    "priority": "{{ normal.bacnet_priority }}",
    "topic_name_format": "{{ normal.topic_name_format }}",
    "structured_query": {{ normal.structured_query | tojson }}
    {% endif %}
  }
  {% if driver.device.type != "normal" %}
  ,"registry_config":"config://"
  {% endif %}


  {% if driver.device.interval is defined %}
  ,"interval": "{{ driver.device.interval }}"
  {% endif %}

  {% if driver.device.heart_beat_point is defined %}
  ,"heart_beat_point": "{{ driver.device.heart_beat_point }}"
  {% endif %}

  {% if driver.device.group is defined %}
  ,"group": "{{ driver.device.group }}"
  {% endif %}
}
